<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 ng-if="!isSub">12th Standard Records</h1>
                    <h1 ng-if="isSub">12th Standard Subjects</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#!Menu2" ng-click="clickFunction('Home')">Home</a></li>
                        <li class="breadcrumb-item active" ng-if="!isSub">12th Std</li>
                        <li class="breadcrumb-item active" ng-if="isSub" >Subjects</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content" ng-if="!isSub">
        <div class="container-fluid">

            <h3 class="mt-4 mb-2" style="text-align: center;">12th Std</h3>

            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-3">
                    <div class="info-box bg-success mouse_cursor">
                        <span class="info-box-icon"><i class="fa fa-book"></i></span>

                        <div class="info-box-content" ng-click="clickFunction('Subject')">
                            <span class="info-box-text">Subject</span>
                            <span class="info-box-number">All Subject</span>

                            <div class="progress">
                                <div class="progress-bar" style="width: 50%"></div>
                            </div>

                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-3">
                    <div class="info-box bg-blue mouse_cursor">
                        <span class="info-box-icon"><i class="fa fa-calendar"></i></span>

                        <div class="info-box-content" ng-click="calanderForm()">
                            <span class="info-box-text">Calender & Exam Time Table</span>
                            <span class="info-box-number">All Schedule</span>

                            <div class="progress">
                                <div class="progress-bar" style="width: 50%"></div>
                            </div>

                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <div class="col-md-2"></div>
            </div>


            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-3">
                    <div class="info-box bg-black mouse_cursor">
                        <span class="info-box-icon"><i class="fas fa-question"></i></span>
                        <div class="info-box-content" data-toggle="modal" data-target="#QuestionBank">
                            <span class="info-box-text">Question Bank</span>
                            <span class="info-box-number">All Questions</span>
                            <div class="progress">
                                <div class="progress-bar" style="width: 50%"></div>
                            </div>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>


                <div class="col-md-2"></div>
                <div class="col-md-3">
                    <div class="info-box bg-danger mouse_cursor">
                        <span class="info-box-icon"><i class="fa fa-book"></i></span>

                        <div class="info-box-content" data-toggle="modal" data-target="#exampleModal">
                            <span class="info-box-text">Novels</span>
                            <span class="info-box-number">All Novels</span>

                            <div class="progress">
                                <div class="progress-bar" style="width: 50%"></div>
                            </div>
                            <!--                            <span class="progress-description">
                                                            70% Increase in 30 Days
                                                        </span>-->
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <div class="col-md-2"></div>
            </div>


            <div class="modal fade" id="QuestionBank" tabindex="-1" aria-labelledby="QuestionBank" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header float-right">
                            <h5>12th Std Question Bank</h5>
                            <div class="text-right"> <i data-dismiss="modal" aria-label="Close" class="fa fa-close"></i> </div>
                        </div>
                        <div class="modal-body">
                            <div>
                                <div style="overflow-x:auto;">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr class="text-center">
                                                <th scope="col">S.No</th>
                                                <th scope="col">Tam 1</th>
                                                <th scope="col">Tam 2</th>
                                                <th scope="col">Eng 1</th>
                                                <th scope="col">Eng 2</th>
                                                <th scope="col">Maths</th>
                                                <th scope="col">Physics</th>
                                                <th scope="col">Chemistry</th>
                                                <th scope="col">Biology</th>
                                                <th scope="col">Botany</th>
                                                <th scope="col">Zoology</th>
                                                <th scope="col">History</th>
                                                <th scope="col">Economics</th>
                                                <th scope="col">Commerce</th>
                                                <th scope="col">Accountancy</th>
                                                <th scope="col">Bio-Chemistry</th>
                                                <th scope="col">Business Maths</th>
                                                <th scope="col">Geography</th>
                                                <th scope="col">CS</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr class="text-center">
                                                <th scope="row">1</th>
                                                <td>2017 <a href="">
                                                        <i class="fa fa-download mouse_cursor"  ng-click="DownloadPdfQB('6651 Tamil Paper I')"></i>
                                                    </a></td>
                                                <td>2017 <a href="">
                                                        <i class="fa fa-download mouse_cursor"  ng-click="DownloadPdfQB('6661 Tamil Paper II')"></i>
                                                    </a></td>

                                                <td>2017 <a href="">
                                                        <i class="fa fa-download mouse_cursor"  ng-click="DownloadPdfQB('6671 English Paper I')"></i>
                                                    </a></td>

                                                <td>2017 <a href="">
                                                        <i class="fa fa-download mouse_cursor"  ng-click="DownloadPdfQB('6672 English Paper II')"></i>
                                                    </a></td>

                                                <td>2017 <a href="">
                                                        <i class="fa fa-download mouse_cursor"  ng-click="DownloadPdfQB('6673 Tam Eng Mathematics')"></i>
                                                    </a></td>

                                                <td>2017 <a href="">
                                                        <i class="fa fa-download mouse_cursor"  ng-click="DownloadPdfQB('6678 Tam Eng Physics')"></i>
                                                    </a></td>

                                                <td>2017 <a href="">
                                                        <i class="fa fa-download mouse_cursor"  ng-click="DownloadPdfQB('6683 Tam Eng Chemistry')"></i>
                                                    </a>
                                                </td>
                                                <td>2017 <a href="">
                                                        <i class="fa fa-download mouse_cursor"  ng-click="DownloadPdfQB('6688 Tam Eng Biology')"></i>
                                                    </a>
                                                </td>
                                                <td>2017 <a href="">
                                                        <i class="fa fa-download mouse_cursor"  ng-click="DownloadPdfQB('6693 Tam Eng Botany')"></i>
                                                    </a>
                                                </td>
                                                <td>2017 <a href="">
                                                        <i class="fa fa-download mouse_cursor"  ng-click="DownloadPdfQB('6698 Tam Eng Zoology')"></i>
                                                    </a>
                                                </td>
                                                <td>2017 <a href="">
                                                        <i class="fa fa-download mouse_cursor"  ng-click="DownloadPdfQB('6703 Tam Eng History')"></i>
                                                    </a>
                                                </td>
                                                <td>2017 <a href="">
                                                        <i class="fa fa-download mouse_cursor"  ng-click="DownloadPdfQB('2017_SocialScience')"></i>
                                                    </a>
                                                </td>
                                                <td>2017 <a href="">
                                                        <i class="fa fa-download mouse_cursor"  ng-click="DownloadPdfQB('6708 Tam Eng Economics')"></i>
                                                    </a>
                                                </td>
                                                <td>2017 <a href="">
                                                        <i class="fa fa-download mouse_cursor"  ng-click="DownloadPdfQB('6718 Tam Eng Accountancy-1')"></i>
                                                    </a>
                                                </td>
                                                <td>2017 <a href="">
                                                        <i class="fa fa-download mouse_cursor"  ng-click="DownloadPdfQB('6724 Tam Eng Bio Chemistry')"></i>
                                                    </a>
                                                </td>
                                                <td>2017 <a href="">
                                                        <i class="fa fa-download mouse_cursor"  ng-click="DownloadPdfQB('6728 Tam Eng Business Maths')"></i>
                                                    </a>
                                                </td>

                                                <td>2017 <a href="">
                                                        <i class="fa fa-download mouse_cursor"  ng-click="DownloadPdfQB('6729 Tam Eng Geography')"></i>
                                                    </a>
                                                </td>
                                                <td>2017 <a href="">
                                                        <i class="fa fa-download mouse_cursor"  ng-click="DownloadPdfQB('6733 Tam Eng Computer Science')"></i>
                                                    </a>
                                                </td>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer"> 
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> 
                        </div>
                    </div>
                </div>
            </div>



            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header float-right">
                            <h5>Novals List</h5>
                            <div class="text-right"> <i data-dismiss="modal" aria-label="Close" class="fa fa-close"></i> </div>
                        </div>
                        <div class="modal-body">
                            <div>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr class="text-center">
                                            <th scope="col">S.No</th>
                                            <th scope="col">Novals Name</th>
                                            <th scope="col">Pdf</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="text-center">
                                            <th scope="row">1</th>
                                            <td>Selected work of Dr B R Ambedkar</td>
                                            <td>
                                                <a href="">
                                                    <i class="fa fa-download mouse_cursor"  ng-click="DownloadPdfNovels('Ambedkar')"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr class="text-center">
                                            <th scope="row">2</th>
                                            <td>Peter-and-wendy</td>
                                            <td><a href="">
                                                    <i class="fa fa-download mouse_cursor" ng-click="DownloadPdfNovels('peter-and-wendy')"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr class="text-center">
                                            <th scope="row">3</th>
                                            <td>English-fairy-tales</td>
                                            <td><a href="">
                                                    <i class="fa fa-download mouse_cursor" ng-click="DownloadPdfNovels('english-fairy-tales')"></i>
                                                </a></td>
                                        </tr>
                                        <tr class="text-center">
                                            <th scope="row">4</th>
                                            <td>Wings of Fire- A P J Abdul Kalam</td>
                                            <td><a href="">
                                                    <i class="fa fa-download mouse_cursor" ng-click="DownloadPdfNovels('Wings of Fire_ an autobiograph - A P J Abdul Kalam_3873')"></i>
                                                </a></td>
                                        </tr>
                                        <tr class="text-center">
                                            <th scope="row">5</th>
                                            <td>The Time Machine NT</td>
                                            <td><a href=""><i class="fa fa-download mouse_cursor" ng-click="DownloadPdfNovels('The_Time_Machine_NT')"></i></a></td>
                                        </tr>
                                        <tr class="text-center">
                                            <th scope="row">6</th>
                                            <td>The Three Little Pigs</td>
                                            <td><a href=""><i class="fa fa-download mouse_cursor" ng-click="DownloadPdfNovels('The-Three-Little-Pigs-L1')"></i></a></td>
                                        </tr>
                                        <tr class="text-center">
                                            <th scope="row">7</th>
                                            <td>Tales of Space and Time</td>
                                            <td><a href=""><i class="fa fa-download mouse_cursor" ng-click="DownloadPdfNovels('Tales of Space and Time - HG Wells - PDF')"></i></a></td>
                                        </tr>
                                        <tr class="text-center">
                                            <th scope="row">8</th>
                                            <td>Swamiji Biography</td>
                                            <td><a href=""><i class="fa fa-download mouse_cursor" ng-click="DownloadPdfNovels('Swamiji Biography')"></i></a></td>
                                        </tr>
                                        <tr class="text-center">
                                            <th scope="row">9</th>
                                            <td>Schatzinsel_E</td>
                                            <td><a href=""><i class="fa fa-download mouse_cursor" ng-click="DownloadPdfNovels('Schatzinsel_E')"></i></a></td>
                                        </tr>
                                        <tr class="text-center">
                                            <th scope="row">10</th>
                                            <td>Mother Teresa Caring For The Worlds Poor</td>
                                            <td><a href=""><i class="fa fa-download mouse_cursor" ng-click="DownloadPdfNovels('Mother_Teresa_-_Caring_For_The_Worlds_Poor')"></i></a></td>
                                        </tr>
                                        <tr class="text-center">
                                            <th scope="row">11</th>
                                            <td>DSIL Lib</td>
                                            <td><a href=""><i class="fa fa-download mouse_cursor" ng-click="DownloadPdfNovels('DSIL_Lib_E1312881157')"></i>
                                                </a></td>
                                        </tr>
                                        <tr class="text-center">
                                            <th scope="row">12</th>
                                            <td>Charlottes Web</td>
                                            <td><a href=""><i class="fa fa-download mouse_cursor" ng-click="DownloadPdfNovels('Charlotte_s_Web_')"></i></a></td>
                                        </tr>
                                        <tr class="text-center">
                                            <th scope="row">13</th>
                                            <td>An-Autobiography</td>
                                            <td><a href=""><i class="fa fa-download mouse_cursor" ng-click="DownloadPdfNovels('An-Autobiography')"></i></a></td>
                                        </tr>
                                        <tr class="text-center">
                                            <th scope="row">14</th>
                                            <td>Alice in Wonderland</td>
                                            <td><a href=""><i class="fa fa-download mouse_cursor" ng-click="DownloadPdfNovels('Alice_in_Wonderland')"></i></a></td>
                                        </tr>
                                        <tr class="text-center">
                                            <th scope="row">15</th>
                                            <td>Alexender the Great By Jacob Abbott</td>
                                            <td><a href=""><i class="fa fa-download mouse_cursor" ng-click="DownloadPdfNovels('Alexender the Great By Jacob Abbott')"></i>
                                                </a></td>
                                        </tr>
                                        <tr class="text-center">
                                            <th scope="row">16</th>
                                            <td>BULLY BILL Free Childrens Book By Monkey Pen</td>
                                            <td><a href="">
                                                    <i class="fa fa-download mouse_cursor" ng-click="DownloadPdfNovels('030-BULLY-BILL-Free-Childrens-Book-By-Monkey-Pen')"></i>
                                                </a></td>
                                        </tr>
                                        <tr class="text-center">
                                            <th scope="row">17</th>
                                            <td>JIMMYS FIRST DAY OF SCHOOL</td>
                                            <td><a href="">
                                                    <i class="fa fa-download mouse_cursor" ng-click="DownloadPdfNovels('029-JIMMYS-FIRST-DAY-OF-SCHOOL-Free-Childrens-Book-By-Monkey-Pen')"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr class="text-center">
                                            <th scope="row">18</th>
                                            <td>THE WAY OF THE WOODS</td>
                                            <td><a href="">
                                                    <i class="fa fa-download mouse_cursor" ng-click="DownloadPdfNovels('028-THE-WAY-OF-THE-WOODS-Free-Childrens-Book-By-Monkey-Pen')"></i>
                                                </a></td>
                                        </tr>
                                        <tr class="text-center">
                                            <th scope="row">19</th>
                                            <td>THE HIKE Free Childrens Book</td>
                                            <td><a href="">
                                                    <i class="fa fa-download mouse_cursor" ng-click="DownloadPdfNovels('026-THE-HIKE-Free-Childrens-Book-By-Monkey-Pen (1)')"></i>
                                                </a></td>
                                        </tr>
                                        <tr class="text-center">
                                            <th scope="row">20</th>
                                            <td>DRAGONS Free Childrens Book</td>
                                            <td><a href="">
                                                    <i class="fa fa-download mouse_cursor" ng-click="DownloadPdfNovels('025-DRAGONS-Free-Childrens-Book-By-Monkey-Pen (1)')"></i>
                                                </a></td>
                                        </tr>
                                        <tr class="text-center">
                                            <th scope="row">21</th>
                                            <td>A DOG ON A LOG Free Childrens Book</td>
                                            <td>
                                                <a href=""><i class="fa fa-download mouse_cursor" ng-click="DownloadPdfNovels('023-A-DOG-ON-A-LOG-Free-Childrens-Book-By-Monkey-Pen (2)')"></i>
                                                </a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer"> 
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> 
                        </div>
                    </div>
                </div>
            </div>







            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="info-box bg-fuchsia mouse_cursor">
                        <span class="info-box-icon"><i class="far fa-bookmark"></i></span>
                        <div class="info-box-content" ng-click="DownloadPdfForm('Scholarship')">
                            <span class="info-box-text">Scholarship</span>
                            <span class="info-box-number">All Scholarship</span>
                            <div class="progress">
                                <div class="progress-bar" style="width: 50%"></div>
                            </div>
                        </div>
                    </div>
                    </section>

                    <!-- /.content -->
                    <section class="content" ng-if="isSub">
                        <div class="container-fluid">

                            <h3 class="mt-4 mb-2" style="text-align: center;">Subjects</h3>

                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-3">
                                    <div class="info-box bg-orange mouse_cursor">
                                        <span class="info-box-icon"><i class="fa fa-book"></i></span>

                                        <div class="info-box-content" ng-click="DownloadPdfForm('Tamil')">
                                            <span class="info-box-text">Tamil</span>
                                            <span class="info-box-number">All Tamil Books</span>

                                            <div class="progress">
                                                <div class="progress-bar" style="width: 50%"></div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="col-md-2"></div>
                                <div class="col-md-3">
                                    <div class="info-box bg-yellow mouse_cursor">
                                        <span class="info-box-icon"><i class="fa fa-calendar"></i></span>
                                        <div class="info-box-content" ng-click="DownloadPdfForm('English')">
                                            <span class="info-box-text">English</span>
                                            <span class="info-box-number">All English Books</span>

                                            <div class="progress">
                                                <div class="progress-bar" style="width: 50%"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2"></div>
                            </div>


                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-3">
                                    <div class="info-box bg-olive mouse_cursor">
                                        <span class="info-box-icon"><i class="fas fa-question"></i></span>

                                        <div class="info-box-content" ng-click="DownloadPdfForm('Std12-Maths-EM-1')">
                                            <span class="info-box-text">Maths 1</span>
                                            <span class="info-box-number">All Maths I Books</span>
                                            <div class="progress">
                                                <div class="progress-bar" style="width: 50%"></div>
                                            </div>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                    <!-- /.info-box -->
                                </div>
                                <div class="col-md-2"></div>
                                <div class="col-md-3">
                                    <div class="info-box bg-lime mouse_cursor">
                                        <span class="info-box-icon"><i class="fa fa-book"></i></span>
                                        <div class="info-box-content" ng-click="DownloadPdfForm('Std12-Maths-EM-2')">
                                            <span class="info-box-text">Maths 2</span>
                                            <span class="info-box-number">All Maths II Books</span>
                                            <div class="progress">
                                                <div class="progress-bar" style="width: 50%"></div>
                                            </div>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                    <!-- /.info-box -->
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-3">
                                    <div class="info-box bg-olive mouse_cursor">
                                        <span class="info-box-icon"><i class="fas fa-question"></i></span>
                                        <div class="info-box-content" ng-click="DownloadPdfForm('Std12-Phy-EM-1')">
                                            <span class="info-box-text">Physics I</span>
                                            <span class="info-box-number">All Physics I Books</span>
                                            <div class="progress">
                                                <div class="progress-bar" style="width: 50%"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.info-box -->
                                </div>
                                <div class="col-md-2"></div>
                                <div class="col-md-3">
                                    <div class="info-box bg-lime mouse_cursor">
                                        <span class="info-box-icon"><i class="fa fa-book"></i></span>

                                        <div class="info-box-content" ng-click="DownloadPdfForm('Std12-Phy-EM-2')">
                                            <span class="info-box-text">Physics 2</span>
                                            <span class="info-box-number">All Physics II Books</span>

                                            <div class="progress">
                                                <div class="progress-bar" style="width: 50%"></div>
                                            </div>

                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                    <!-- /.info-box -->
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-3">
                                    <div class="info-box bg-olive mouse_cursor">
                                        <span class="info-box-icon"><i class="fas fa-question"></i></span>

                                        <div class="info-box-content" ng-click="DownloadPdfForm('Std12-Hist-EM')">
                                            <span class="info-box-text">History</span>
                                            <span class="info-box-number">All History Books</span>

                                            <div class="progress">
                                                <div class="progress-bar" style="width: 50%"></div>
                                            </div>

                                        </div>

                                    </div>
                                    <!-- /.info-box -->
                                </div>
                                <div class="col-md-2"></div>
                                <div class="col-md-3">
                                    <div class="info-box bg-lime mouse_cursor">
                                        <span class="info-box-icon"><i class="fa fa-book"></i></span>

                                        <div class="info-box-content" ng-click="DownloadPdfForm('Physics2')">
                                            <span class="info-box-text">Physics 2</span>
                                            <span class="info-box-number">All Physics II Books</span>

                                            <div class="progress">
                                                <div class="progress-bar" style="width: 50%"></div>
                                            </div>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                    <!-- /.info-box -->
                                </div>
                                <div class="col-md-2"></div>
                            </div>

                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-3">
                                    <div class="info-box bg-olive mouse_cursor">
                                        <span class="info-box-icon"><i class="fas fa-question"></i></span>

                                        <div class="info-box-content" ng-click="DownloadPdfForm('History')">
                                            <span class="info-box-text">History</span>
                                            <span class="info-box-number">All History Books</span>

                                            <div class="progress">
                                                <div class="progress-bar" style="width: 50%"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.info-box -->
                                </div>
                                <div class="col-md-2"></div>
                                <div class="col-md-3">
                                    <div class="info-box bg-lime mouse_cursor">
                                        <span class="info-box-icon"><i class="fa fa-book"></i></span>
                                        <div class="info-box-content" ng-click="DownloadPdfForm('Std12-Geog-EM')">
                                            <span class="info-box-text">Geography</span>
                                            <span class="info-box-number">All Geography Books</span>
                                            <div class="progress">
                                                <div class="progress-bar" style="width: 50%"></div>
                                            </div>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                    <!-- /.info-box -->
                                </div>
                                <div class="col-md-2"></div>
                            </div>

                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-3">
                                    <div class="info-box bg-olive mouse_cursor">
                                        <span class="info-box-icon"><i class="fas fa-question"></i></span>

                                        <div class="info-box-content" ng-click="DownloadPdfForm('Std12-Econ-EM')">
                                            <span class="info-box-text">Economic Theory</span>
                                            <span class="info-box-number">All Economic Theory</span>

                                            <div class="progress">
                                                <div class="progress-bar" style="width: 50%"></div>
                                            </div>

                                        </div>

                                    </div>
                                    <!-- /.info-box -->
                                </div>
                                <div class="col-md-2"></div>
                                <div class="col-md-3">
                                    <div class="info-box bg-lime mouse_cursor">
                                        <span class="info-box-icon"><i class="fa fa-book"></i></span>
                                        <div class="info-box-content" ng-click="DownloadPdfForm('Std12-Comm-EM')">
                                            <span class="info-box-text">Commerce</span>
                                            <span class="info-box-number">All Commerce Books</span>
                                            <div class="progress">
                                                <div class="progress-bar" style="width: 50%"></div>
                                            </div>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                    <!-- /.info-box -->
                                </div>
                                <div class="col-md-2"></div>
                            </div>

                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-3">
                                    <div class="info-box bg-olive mouse_cursor">
                                        <span class="info-box-icon"><i class="fas fa-question"></i></span>

                                        <div class="info-box-content" ng-click="DownloadPdfForm('Std12-Chem-EM-1')">
                                            <span class="info-box-text">Chemistry I</span>
                                            <span class="info-box-number">All Chemistry I Books</span>

                                            <div class="progress">
                                                <div class="progress-bar" style="width: 50%"></div>
                                            </div>

                                        </div>

                                    </div>
                                    <!-- /.info-box -->
                                </div>
                                <div class="col-md-2"></div>
                                <div class="col-md-3">
                                    <div class="info-box bg-lime mouse_cursor">
                                        <span class="info-box-icon"><i class="fa fa-book"></i></span>
                                        <div class="info-box-content" ng-click="DownloadPdfForm('Std12-Chem-EM-2')">
                                            <span class="info-box-text">Chemistry II</span>
                                            <span class="info-box-number">All Chemistry II</span>
                                            <div class="progress">
                                                <div class="progress-bar" style="width: 50%"></div>
                                            </div>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                    <!-- /.info-box -->
                                </div>
                                <div class="col-md-2"></div>
                            </div>

                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-3">
                                    <div class="info-box bg-olive mouse_cursor">
                                        <span class="info-box-icon"><i class="fas fa-question"></i></span>
                                        <div class="info-box-content" ng-click="DownloadPdfForm('Std12-CS-EM')">
                                            <span class="info-box-text">Computer Science</span>
                                            <span class="info-box-number">All Computer Science</span>
                                            <div class="progress">
                                                <div class="progress-bar" style="width: 50%"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- /.info-box -->
                                </div>
                                <div class="col-md-2"></div>
                                <div class="col-md-3">
                                    <div class="info-box bg-lime mouse_cursor">
                                        <span class="info-box-icon"><i class="fa fa-book"></i></span>
                                        <div class="info-box-content" ng-click="DownloadPdfForm('Std12-BioZoo-EM')">
                                            <span class="info-box-text">BioZoology</span>
                                            <span class="info-box-number">All BioZoology </span>
                                            <div class="progress">
                                                <div class="progress-bar" style="width: 50%"></div>
                                            </div>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                    <!-- /.info-box -->
                                </div>
                                <div class="col-md-2"></div>
                            </div>

                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-3">
                                    <div class="info-box bg-olive mouse_cursor">
                                        <span class="info-box-icon"><i class="fas fa-question"></i></span>
                                        <div class="info-box-content" ng-click="DownloadPdfForm('Std12-BioChem-EM')">
                                            <span class="info-box-text">BioChemistry</span>
                                            <span class="info-box-number">All BioChemistry </span>
                                            <div class="progress">
                                                <div class="progress-bar" style="width: 50%"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- /.info-box -->
                                </div>
                                <div class="col-md-2"></div>
                                <div class="col-md-3">
                                    <div class="info-box bg-lime mouse_cursor">
                                        <span class="info-box-icon"><i class="fa fa-book"></i></span>
                                        <div class="info-box-content" ng-click="DownloadPdfForm('Std12-BioBot-EM')">
                                            <span class="info-box-text">BioBotany</span>
                                            <span class="info-box-number">All BioBotany </span>
                                            <div class="progress">
                                                <div class="progress-bar" style="width: 50%"></div>
                                            </div>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                    <!-- /.info-box -->
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-3">
                                    <div class="info-box bg-olive mouse_cursor">
                                        <span class="info-box-icon"><i class="fas fa-question"></i></span>
                                        <div class="info-box-content" ng-click="DownloadPdfForm('Std12-BM-EM')">
                                            <span class="info-box-text">Business Maths</span>
                                            <span class="info-box-number">All Business Maths</span>
                                            <div class="progress">
                                                <div class="progress-bar" style="width: 50%"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- /.info-box -->
                                </div>
                                <div class="col-md-2"></div>
                                <div class="col-md-3">
                                    <div class="info-box bg-lime mouse_cursor">
                                        <span class="info-box-icon"><i class="fa fa-book"></i></span>
                                        <div class="info-box-content" ng-click="DownloadPdfForm('Std12-Acct-EM')">
                                            <span class="info-box-text">Accountancy</span>
                                            <span class="info-box-number">All Accountancy</span>
                                            <div class="progress">
                                                <div class="progress-bar" style="width: 50%"></div>
                                            </div>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                    <!-- /.info-box -->
                                </div>
                                <div class="col-md-2"></div>
                            </div>

                        </div><!-- /.container-fluid -->
                    </section>

                </div>